@import "colors";

body,h1,h2,h3,h4,h5{
	font-family: 'AllerRG', sans-serif;
}


button.mainbutton,button.mainbutton:hover,button.mainbutton:focus{
	background-color: $light_blue;
	color:#FFFFFF;
	font-weight: bold;
	border-radius: 10px;
	min-width: 250px;
}

.modal{
	z-index: 10;
}

.bar-stable{
	background: transparent !important;
	border:0px;
	color:transparent;
}

.bar.bar-stable{
	.title{
		color:transparent !important;
	}
	button{
		span{
			color:transparent !important;
		}	
		.icon.ion-ios-arrow-back{
			color:#FFFFFF;
		}
	}
} 

i.huge{
	font-size: 5em;
}

.rt{
	text-align: right;
}

.ct{
	text-align: center;
}
.cw{
	color: #FFFFFF;
}

.card{
	border-radius: 8px;
}

.section-title{
	text-align: center;
	margin: 0 auto;
	h1{
		font-size: 1.7em;
		padding-bottom: 10px;
		color:#FFFFFF;
		padding-left: 15px;
		padding-right: 15px;
		display: inline-block;
		border-bottom: 2px solid $light_blue;		
	}
}

.pane{
	background-color: $bg-color;
	background-image: url("../img/fondo.png");
	background-size: cover; 
}

.chart{
	margin-top: 30px;
	overflow: visible;
	position: relative;
	padding-top: 15px;
	padding-bottom: 15px;
	.clock{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background-color: #FFFFFF;
		position: absolute;
		left:50%;
		top:0px;
		margin-left: -25px;
		margin-top: -25px;
		border: 3px solid $light_blue;
		color:$light-gray;
		.n{
			text-align: center;
			vertical-align: 50px;
			line-height: 50px;
			font-size: 17px;
			font-weight: bold;
		}
		.m{
			font-size: 0.7em;
			position: absolute;
			top:0px;
			text-align: center;
			width: 100%;
		}
	}
	.col{
		border-right:1px solid #DDDDDD;
	}
	.col:last-child{
		border-right:0px;
	}
	.marker{
		font-size: 2.3em;
		display: flex;
	  align-items: center;
	  justify-content: center;
	}

	.team-thumb{
		height: 60px;
		width: 100%;
	}
}


.event-list{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	background-repeat: repeat-y;
	background-image: url("../img/cuadito.png");
	background-position: center top;
	.event.equipo-a{
		margin-right: 50%;
		padding-right: 30px;
		text-align: right;
		.event-icon{
			margin-right:-20px;
			right:50%;
		}
	}
	.event.equipo-b{
		text-align: left;
		margin-left: 50%;
		padding-left: 30px;
		.event-icon{
			margin-left:-20px;
			left:50%;
		}
	}

	.event{
		margin-top: 10px;
		.title{
			font-weight: bold;
			color:$bg-color;
		}	
		.title.sale{
			color:$assertive;
		}	
		.title.entra{
			color:$balanced;
		}	
		.subtitle{
			font-weight: 300;
			font-size: 0.9em;
			color:$light-gray;
		}
		.event-icon{
			width: 40px;
			height: 40px;
			background-color: #FFFFFF;
			border: 2px solid $light_blue;
			border-radius: 50%;
			position: absolute;
			background-position: center center;
			background-size: 70%;
			background-repeat: no-repeat; 
		}
	} 



	.event.gol .event-icon{
		background-image: url("../img/gol.png"); 
	}
	.event.falta-amarilla .event-icon, .event.segunda-amarilla .event-icon{
		background-image: url("../img/falta.png"); 
		background-size: 40%;
		background-color: #E8E8A9;
	}
	.event.falta-roja .event-icon{
		background-image: url("../img/falta.png"); 
		background-size: 40%;
		background-color: #E6ACB3;
	}

	.event.entra .event-icon,.event.sale .event-icon{
		background-image: url("../img/cambio.png"); 
	}
}


.trivia-question{
	text-align: center;
	font-size: 1.6em;
	font-weight: normal;
	color:$bg-color;
}


.button-trivia,.button-trivia:hover,.button-trivia:focus{
	background-color:$trivia;
	border-radius: 40px;
	color:#FFFFFF;
	line-height: 1;
}

.trivia .timer{
	text-align: center;
	.counter{
		height: 50px;
		width: 50px;
		display: inline-block;
		line-height: 41px;
		vertical-align: middle;
		color:$bg-color;
		border-radius: 50%;
		border:4px solid $trivia;
		font-size: 1.4em;
	}
}


.beers{
	text-align: center;
	overflow: auto;
}

.beer{
	display: block;
	float:left;
	width: 48%;
	margin:1%;
	border-radius: 4px;
	overflow: hidden;
	.media{
		padding-top: 100%;
		background-size: cover;
		background-position: center center;
	}
	p{
		background-color: $light-gray;
		margin-bottom: 0px;
		line-height: 1;
		padding-top: 10px;
		padding-bottom: 10px;
	}
} 


.carty{
	position: absolute;
	height: 20px;
	width: 20px;
	background-color: $trivia;
	right: 30%;
	bottom:10px;
	text-align: center;
	vertical-align: middle;
	line-height: 22px;
	font-size: 0.9em;
	border-radius: 50%;
	z-index: 10;
	color:#FFFFFF;
}	


.pack{
	
	margin-top: 15px;

	.info{
		padding-left: 20px;
		padding-right: 20px;
		line-height: 1;
		text-align: center;
		.title{
			color:$light-gray;
		}
	}
	.price{
		font-size: 1.2em;
		color:$light_blue;
	}

	.increaser{
		text-align: center;
	}

	.increaser .counter,.less,.more{
		vertical-align: middle;
		display: inline-block;
		background-position: center center;
		background-size: 25px;
		background-repeat: no-repeat;
	}

	.increaser .less{
		background-image: url('../img/less.png');
	}
	
	.increaser .more{
		background-image: url('../img/more.png');
	}

	.counter{
		display: inline-block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 4px solid $light_blue;
		text-align: center;
		vertical-align: middle;
		line-height: 32px;
		font-size: 1.2em; 
	}
}


.beercover{
	height: 250px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover; 
}

.checkout {
	p{
		font-size: 1.1em;
	}
	span{
		font-size: 0.7em;
		color:$light-gray;
	}
}

.ovf{
	overflow: auto;
	.left{
		float: left;
	}
	.right{
		float: right;
	}
}

.blocker{
	position: absolute;
	top:0px;
	left:0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;	
}


.empty{
	color:#FFFFFF;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}