/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

//Fonts

@font-face {
    font-family: 'AllerIT';
    src: url('../fonts/aller_it-webfont.eot');
    src: url('../fonts/aller_it-webfont.eot') format('embedded-opentype'),
         url('../fonts/aller_it-webfont.woff') format('woff'),
         url('../fonts/aller_it-webfont.ttf') format('truetype'),
         url('../fonts/aller_it-webfont.svg#MenschMenschRegular') format('svg');
}

@font-face {
    font-family: 'AllerRG';
    src: url('../fonts/aller_rg-webfont.eot');
    src: url('../fonts/aller_rg-webfont.eot') format('embedded-opentype'),
         url('../fonts/aller_rg-webfont.woff') format('woff'),
         url('../fonts/aller_rg-webfont.ttf') format('truetype'),
         url('../fonts/aller_rg-webfont.svg#MenschMenschRegular') format('svg');
}



// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

@import "generic";


.one-tab {
	background: url("../img/icon1.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.two-tab {
	background: url("../img/icon2.svg");
	background-repeat: no-repeat;
	background-position: center;
}

.three-tab {
	background: url("../img/icon3.svg");
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
}

.four-tab {
	background: url("../img/icon4.svg");
	background-size: 25px;
	background-repeat: no-repeat;
	background-position: center;
}