<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"/>
        <title>
        </title>
        <!-- compiled css output -->
        <link href="css/ionic.app.css" rel="stylesheet"/>
        <!-- ionic/angularjs js -->
        <script src="lib/ionic/js/ionic.bundle.js">
        </script>
        <!-- cordova script (this will be a 404 during development) -->
        <script src="cordova.js">
        </script>

        <!-- For push notifications -->
        <script src="lib/angular-websocket/angular-websocket.js">
        </script>


        <script src="lib/ngCordova/dist/ng-cordova.js">
        </script>
        <!-- your app's js -->
        <script src="js/app.js"></script>
        <script src="js/services.js"></script>
        <script src="js/controllers/run_controller.js" ></script>  
        <script src="js/controllers/trivia_controller.js" ></script>  
        <script src="js/controllers/scores_controller.js" ></script>  
        <script src="js/controllers/score_controller.js" ></script>  
        <script src="js/controllers/store_controller.js" ></script>  
        <script src="js/controllers/logros_controller.js" ></script>  
    </head>
    <body ng-app="starter" ng-controller="DashCtrl">
        <!-- The nav bar that will be updated as we navigate between views. -->
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button>
            </ion-nav-back-button>
        </ion-nav-bar>
        <!--
            The views will be rendered in the
            <ion-nav-view>
                directive below
                Templates are in the /templates folder (but you could also
                have templates inline in this html file if you'd like).
            -->
            <!-- <div class="col no-padding">
                <a class="button button-outline button-dark" ng-click="test()" >
                    Push
                </a>
            </div> -->
            <ion-nav-view>
            </ion-nav-view>
        </body>
    </html>
