<ion-modal-view>
	<header class="bar bar-header">
		<div class="title">{{current_beer.name}}</div>
		<div class="button button-clear" ng-click="modal.hide()">
		<span class="icon ion-close"></span>
	</header>
	<content has-header="true" padding="true">
		<div class="beercover" style="background-image: url(media/{{current_beer.packs[0].media}})"></div>
		<div class="pack row" ng-repeat="pack in current_beer.packs">
				<div class="col">
					<div class="info">
						<p class="title">{{pack.desc}}</p>
						<p class="price">{{pack.price | currency}}</p>
					</div>
				</div>
				<div class="actions col">
					<div class="increaser row">					
						<div class="less col" ng-click="less(pack)"></div>
						<div class="col">
							<div class="counter">{{pack.chosen_times}}</div>
						</div>
						<div class="more col" ng-click="more(pack)"></div>
					</div>
				</div>
		</div>

		<div class="ct">
			<div class="row">
				<div class="col">
					<button class="button" ng-click="modal.hide()">Regresar</button>
				</div>
				<div class="col">
					<button class="button" ng-click="checkout()">Checkout</button>
				</div>
			</div>
		</div>

	</content>
</ion-modal-view>