<ion-view view-title="Partido">
  <ion-content class="padding">
    
    <div class="section-title">  	
			<h1>Datos del partido</h1>
    </div>

		<div class="card chart">
							
			<div class="clock">
				<div class="n">45</div>
				<div class="m">min</div>
			</div>

			<div class="row">

				<div class="col ct">
					<div class="team-thumb"><img ng-src="{{match.local_shield}}"></div>
					<div class="team-name">{{match.local}}</div>
				</div>
				<div class="col ct">
					<div class="team-thumb"><img ng-src="{{match.visitor_shield}}"></div>
					<div class="team-name">{{match.visitor}}</div>
				</div>

			</div>

			<div class="row">
				
				<div class="event-list">
					
					<!-- Evento del equipo a, de tipo gol -->
					<div 
						class="event" 
						ng-repeat="event in events | orderBy:order_item:order_reverse" 
						ng-class="{
							'equipo-a': event.team == 'local', 
							'equipo-b': event.team == 'visitor',
							'gol': event.action_type == '1',
							'falta-roja': event.action_type == '3',
							'falta-amarilla': event.action_type == '5',
							'segunda-amarilla': event.action_type == '4',
							'entra': event.action_type == '19',
							'sale': event.action_type == '18'
						}"
					>
						<!-- Event0 de clase gol -->
						<div class="event-icon"></div>
						<div class="event-text">
							<span ng-if="event.action_type == '19'">Entra:</span>
							<span ng-if="event.action_type == '18'">Sale:</span>
							<div class="title">{{event.player}}</div>
							<div class="subtitle">{{event.minute}}' - {{event.action}}</div><!-- la verdad aqui no se que va -->
						</div>
					</div>

				</div>

			</div>

		</div>
		

  </ion-content>
</ion-view>
