<ion-view view-title="Partido">
  <ion-content class="padding" delegate-handle="ionv_store">
    
    <div class="section-title">  	
			<h1>Modelo Now</h1>
    </div>

		<!-- Display only when cart has items in it -->
		<div class="card checkout" ng-if="cart.length">
			<div class="padding">
				
				<ul class="list list-inset">
					<li class="item item-divider">Tus chelas:</li>
					<li class="item" ng-repeat="pack in cart">
						<div class="ovf">						
							<p class="left">
								{{pack.name}} x {{pack.chosen_times}}
							</p>
							<p class="right">{{pack.price * pack.chosen_times | currency}}</p>
						</div>
						<span>{{pack.desc}}</span>
					</li>
					<li class="item item-divider rt">Total {{cart_total | currency}} <small>mxn</small></li>
				</ul>

				<div class="ct">
					<button class="button mainbutton" ng-click="buy()">Pedir</button>
				</div>

			</div>

		</div>


		<div class="beers">
			
			<div class="beer" ng-repeat="beer in beers" ng-click="openModal(beer)">
				<div class="media" style="background-image: url(media/{{beer.packs[0].media}})"></div>
				<p>{{beer.name}}</p>
			</div>

		</div>
  </ion-content>
</ion-view>

<div class="blocker theblocker" ng-if="blocker">
	<div class="ct">	
		<p class="cw">Realizando pedido</p>
		<br>
		<ion-spinner></ion-spinner>
	</div>
</div>