<ion-view view-title="Trivia">
  <ion-content>
    <ion-slide-box on-slide-changed="slideChanged($index)" show-pager="false">
      <ion-slide ng-repeat="trivia in trivias" class="padding">


        <div class="section-title">
          <h1>Trivia Now</h1>
        </div>

        <div class="card trivia">
          <div class="padding">

            <div class="timer">
              <span>Tiempo</span>
              <div class="counter">{{counter}}</div>
              <span>restante</span>
            </div>

            <h2 class="trivia-question">{{trivia.name}}</h2>

            <button class="button button-full button-trivia" ng-repeat="answer in trivia.answers" ng-click="nextTrivia()">
              {{answer}}
            </button>
          </div>
        </div>

      </ion-slide>
      <ion-slide>
        Enviando respuestas
      </ion-slide>
    </ion-slide-box>
  </ion-content>
</ion-view>