<ion-view view-title="Partidos">
  <ion-content class="padding">

    <div class="section-title">   
      <h1>Partidos en vivo</h1>
    </div>
    <div class="empty" ng-show="!currents || !currents.length">
      <i class="ion-ios-football huge"></i>
      <p>
        No hay eventos en vivo
      </p>
    </div>
    <div class="card chart" ng-repeat="current in currents" ui-sref="/#/tabs/scores/{{current.id}}">
        <div class="row">
        
        <div class="clock">
          <div class="m">min</div>
          <div class="n">{{current.live_minute}}</div>
        </div>
        <div class="col ct">
          <div class="team-thumb">
            <img ng-src="{{current.local_shield}}">
          </div>
          <div class="team-name">{{current.local}}</div>
        </div>
        <div class="col ct marker">
          <div class="title">{{current.result}}</div>
        </div>
        <div class="col ct">
          <div class="team-thumb"><img ng-src="{{current.visitor_shield}}"></div>
          <div class="team-name">{{current.visitor}}</div>
        </div>

      </div>
    </div>
    
    <div class="section-title">   
      <h1>Partidos de hoy</h1>
    </div>

    <!-- <a href="#/tab/score">Liga temporal</a> -->

    <div class="empty" ng-show="!matches || !matches.length">
      <i class="ion-ios-football huge"></i>
      <p>
        No hay encontramos eventos hoy
      </p>
    </div>

		<div class="card chart" ng-repeat="match in matches" ng-if="match.competition_name == 'Liga MX - Clausura'" ng-click="goToMatch('{{match.id}}')">
			
			<div class="row">
				
				<div class="clock">
          <div class="m">{{match.hour}}</div>
					<div class="n">{{match.minute}}</div>
				</div>
				<div class="col ct">
					<div class="team-thumb">
            <img ng-src="{{match.local_shield}}">
          </div>
					<div class="team-name">{{match.local}}</div>
				</div>
				<div class="col ct marker">
					<div class="title">{{match.result}}</div>
				</div>
				<div class="col ct">
					<div class="team-thumb"><img ng-src="{{match.visitor_shield}}"></div>
					<div class="team-name">{{match.visitor}}</div>
				</div>

			</div>

		</div>
		

  </ion-content>
</ion-view>
