<ion-view view-title="Logros">
  <ion-content>

    <div class="section-title">   
      <h1>Logros</h1>
    </div>
    

		<div class="empty">
		  <i class="ion-ios-football huge"></i>
      <p>
        En desarrollo :)
      </p>
		</div>

  </ion-content>
</ion-view>
