<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Scores Tab -->
  <ion-tab icon="one-tab" href="#/tab/scores">
    <ion-nav-view name="tab-scores"></ion-nav-view>
  </ion-tab>

  <ion-tab icon="two-tab" href="#/tab/logros">
    <ion-nav-view name="tab-logros"></ion-nav-view>
  </ion-tab>

  <!-- Shop Tab -->
  <div class="carty" ng-if="cart.length">{{cart.length}}</div>
  <ion-tab icon="three-tab" href="#/tab/store">
    <ion-nav-view name="tab-store"></ion-nav-view>
  </ion-tab>

  <!-- Extra Tab -->
  <ion-tab icon="four-tab" href="#/tab/trivia">
    <ion-nav-view name="tab-trivia"></ion-nav-view>
  </ion-tab>


</ion-tabs>
